/* style.css */

body {
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    font-family: 'Poppins', sans-serif;
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 768px;
    margin: auto;
  }
  
  .map-image {
    width: 100%;
    height: auto;
  }
  
  .city-label {
    position: absolute;
    font-family: 'IM Fell English', serif;
    color: #8B2E2E;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgba(255, 248, 220, 0.6);
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
  }
  
  /* Positionnement spécifique */
  .cotonou {
    top: -3900%; left: 18%;
  }
  
  .abomey-calavi {
    top: -2450%; left: 22%;
  }
  
  .porto-novo {
    top: -3550%; left: 75%;
  }
  
  .parakou {
    top: -6000%; left: 57%;
  }
  